@{
    ViewData["Title"] = "About us";
}


<form>

    <div class="w-100"></div>
    <div class="w-100"></div>

    <h1 class="text-center h-100">
        Internet shop
    </h1>

    <div class="w-100"></div>
    <div class="w-100"></div>
    <div class="w-100"></div>
    <div class="text-center">

        <em>We Empower People and Create Economic Opportunity</em>
    </div>
    <br />
    <div class="w-100"></div>
    <div class="w-100"></div>
    <div>

        <p class="text-center">
            We are a global commerce leader that connects millions of buyers and sellers around the world.
            We exist to enable economic opportunity for individuals, entrepreneurs, businesses and organizations of all sizes.
            Our portfolio of brands includes eBay Marketplace and eBay Classifieds Group, operating in 190 markets around the world.
        </p>
    </div>
    <div class="w-100"></div>
    <div class="text-center">
        Buyers who shop on our Marketplace and Classifieds platforms enjoy a highly personalized experience with an unparalleled selection at great value.
    </div>
    <div class="w-100"></div>
    <div class="w-100"></div>
    <div class="w-100"></div>
    <div class="w-100"></div>
    <h3 class="text-center">Enjoy with us!</h3>
</form>
